<h1>Events Page</h1>
<h2>You're logged in as <%= session[:name] %></h2>

<%= render partial: 'shared/listing_events', :locals => {:user => @user, :current_user => @current_user, :which_events => @events} %>
